bosh-lite/manifests/*
bosh-lite/tmp/*
config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
blobs/*
riak-cs-*.yml
.blobs
.dev_builds
.vagrant
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*

# nise-bosh-vagrant
Vagrantfile
.nise-bosh-manifest.yml
.nise_bosh_install.sh
.nise-bosh-install.sh
scripts/riak-backup/pkg
releases/**/*.tgz
blobs
bin/
pkg/
src/github.com/vito/gosub/
src/github.com/codegangsta/cli/
