[submodule "shared"]
	path = shared
	url = https://github.com/cloudfoundry/shared-release-packages.git
[submodule "src/cf-riak-cs-broker"]
	path = src/cf-riak-cs-broker
	url = https://github.com/cloudfoundry/cf-riak-cs-broker.git
[submodule "packages/ruby"]
	path = packages/ruby
	url = https://github.com/cloudfoundry/ruby-package 
	branch = 2.0.0
[submodule "src/route-registrar/src/github.com/cloudfoundry-incubator/route-registrar"]
	path = src/route-registrar/src/github.com/cloudfoundry-incubator/route-registrar
	url = https://github.com/cloudfoundry-incubator/route-registrar.git
[submodule "src/broker-registrar"]
	path = src/broker-registrar
	url = https://github.com/pivotal-cf/broker-registrar.git
[submodule "src/github.com/cloudfoundry-incubator/riakcs-acceptance-tests"]
	path = src/github.com/cloudfoundry-incubator/riakcs-acceptance-tests
	url = https://github.com/cloudfoundry-incubator/riakcs-acceptance-tests.git
[submodule "src/github.com/cloudfoundry-incubator/riakcs_ctrl"]
	path = src/github.com/cloudfoundry-incubator/riakcs_ctrl
	url = https://github.com/cloudfoundry-incubator/riakcs_ctrl
